.footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
    background-color: darkslategray;
    color: navajowhite;
    /* text-align: center; */
  }
  .footer-mid{
    width: 75rem;
  }