
.homepage-main-con{
    /* min-height: 87vh; */
    /* min-width: 95vw; */
    /* background-image: url('../../../img/home/indo-america.jpg'); */
    /* width:100%; */
    /* height: 577px; */
    /* background-position: center; Center the image */
    /* background-repeat: no-repeat; Do not repeat the image */
    /* background-size: cover; */
    /* opacity: 0.5; */
}
.home-text{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-intro{
    color: darkred;
    font-size: 2rem;
}
.home-sub{
    color:navajowhite;
}
.chairman1{
    width: 34%;
}
.subscriber-form{
    /* width: 25%; */
}
.left-con{
    width: 10%;
}
.middle-con{
    width: 70%;
}
.right-con{
    width: 20%;
}
.logo-img{
    width: 90%;
}
.fa-facebook-square{
    color:  #5f7d95;
    padding-top: 2% ;
}
