
.main-con{
    min-width: 97vw;
    min-height: 92vh;
    
    /* background-image: url('../../../img/home/hexellence.png'); */
}
.header-backdrop{
    height: 3rem;
}
.footer-backdrop{
    /* min-height:100px; */
}