.header-con{
    /* background-color: #cec39d; */
}
.navbar-con{
    padding:  0;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
    background: #fff !important;
}
.nav-item:hover{
    background-color: burlywood;
}
.nav-links-con{
    max-width: 40%
}
.nav-link{
    color: #fff;
}
.nav-link:hover{
    color: #f8f9fa;
}
.org-title-con{
    min-width: 10%;
    width: 50%;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}
.organization-header{
    /* width: 43%; */
    /* color: #F8FCE1; */
    color: #fff;
    line-height: 1.5;
    font-weight: 700;
    /* cursor: pointer; */
}
.organization-header:hover{
    color: #F8FCE1;
    text-decoration: none;
}
.flag-con{
    width: 3rem;
}
.facebook-con{
    width: 2rem;
    height: 2rem;
    margin-top : 0.3rem;
}
